<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings">
            <section name="FORCServerSupport.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ClientSupport.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="CBViewModel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Launcher.Properties.Settings>
            <setting name="DXCheck" serializeAs="String">
                <value>True</value>
            </setting>
        </Launcher.Properties.Settings>
        <FORCServerSupport.Properties.Settings>
            <setting name="UpgradeSettings" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MachineToken" serializeAs="String">
                <value>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAA/OpjtpxlVkKdlY4N4ErvKAAAAAACAAAAAAAQZgAAAAEAACAAAACQcr6q289vpuKis8PdXEmOirE8jyu9FtLcRDjMNZk0SAAAAAAOgAAAAAIAACAAAABw6+3cZrobtY1yfsdstBlRd41mkeqpg/gM+P+xiIQxMjABAAAoxVelWC0zvllsY1Dj9voK6jHr+Vu8ZQU/vbEAoB9w82Vmt1ujrDB1RzG2i4ak/qaIAnA8hwLnKtR2z3IE6ilFeakn0BJigS5rLUS8OJkfrH3/kdBz2BR+uYtunALXMG0EDEs0YW24NMLi4pwNhbIm9nTrS8+2LIfqEHLj9EkIKqkxXcjhYMp4gZu2nmVm54fVLioOMjyrNsX6p0KOCfb/GrprKqmH044mX/Fh4BarD4r4SmDWPBB5ZGYH0osT6ei64GW5o5obkQiblKfZxluHH/vr8mkMBZc9E70bIkI1+ilwS3REIvzEybrmMHmvMUluvZNiN+Mayywfs+4igc2uskOQ5X4fTpxNxHtKQ4SBeGeDKK47B+cOFS7jjWyMoeR81IZGhz0fcUO1DAyBK4IsQAAAAAV18E5g5pKmu21yoeay51H8UA4npxd2iAkRBt6OzqyW+IWQzloZRrKQ0rfdrZe8IGfK8KZoa1qVYeWitG490oE=</value>
            </setting>
            <setting name="TokenVersion" serializeAs="String">
                <value>2</value>
            </setting>
        </FORCServerSupport.Properties.Settings>
        <ClientSupport.Properties.Settings>
            <setting name="UpgradeSettings" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HardwareSurveyPerformed" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value>dmytro.cheva@gmail.com</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAA/OpjtpxlVkKdlY4N4ErvKAAAAAACAAAAAAAQZgAAAAEAACAAAABFDsKaxFfixUhMte6c+tKMX/kRdQ4hte14m+cjiMKe1QAAAAAOgAAAAAIAACAAAAB2D4Ib1MFyAUQ/gpKKoGYm0pyyX8FKYPWt9iJtCUlhpCAAAAAHu9g/pfobS2JePLAXk8ExpHyGTaVK9NkBvE1/cF3dQEAAAACTgCGS2d6htH/OqZHyqeCs1VcVDeQP9glnbX6I5HzWPXRZXeru9ubWg4cUoDpzUB6SZmmti65Oqsi0lqoSp5Q7</value>
            </setting>
        </ClientSupport.Properties.Settings>
        <CBViewModel.Properties.Settings>
            <setting name="UpgradeSettings" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Option_DisableFastDownload" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LanguageOverride" serializeAs="String">
                <value>ru</value>
            </setting>
        </CBViewModel.Properties.Settings>
    </userSettings>
</configuration>