<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings">
            <section name="FORCServerSupport.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ClientSupport.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="CBViewModel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <FORCServerSupport.Properties.Settings>
            <setting name="TokenVersion" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="UpgradeSettings" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MachineToken" serializeAs="String">
                <value>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAq5Ey9dwD40SDZtRPm8BQ+AAAAAACAAAAAAAQZgAAAAEAACAAAACZxnjED9hYlIUCQZ5iOGQgyCUnZpdB3GhMUdqRec2PrgAAAAAOgAAAAAIAACAAAABSVm590cwd9fMB5lLKyitYoi0/4MCmUjsjSR6MKtvjPCAAAAAj7lhctXYsMgdF+jB+HdYsAau/nJQ+nXAHmluch1M8IUAAAAAE3L7GTxMDBbw4yGonRmWygmdZPDjEy65iYZKGeF7zosTllHO+DHzUgiNIvw410PnZiWyFmrssUWHAIp4AQE9I</value>
            </setting>
        </FORCServerSupport.Properties.Settings>
        <ClientSupport.Properties.Settings>
            <setting name="Password" serializeAs="String">
                <value>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAA9Rx6c6lhm0aAFeOs6U/v7AAAAAACAAAAAAAQZgAAAAEAACAAAABjy1JD6Cmz6UW/OcB8C7ubKxFk/921uFke8AHuzdgIrgAAAAAOgAAAAAIAACAAAABtgorHUsoSN0/ohztViUmqXj8ZgjbLQEXRnJsIF4HEECAAAABqsaegvi5eXKy1p/AR7wl57I87+GhCAqi5n9olOlxOBEAAAABbKb/CftCB2XIsnxL91EYxjZqKThiEL8NGVMHbzttT9oSAXjzk/NX9fayFN6t56jU0HKs2K+P3dZEbqnjU3T5J</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value>dmytro.cheva@gmail.com</value>
            </setting>
            <setting name="UpgradeSettings" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HardwareSurveyPerformed" serializeAs="String">
                <value>True</value>
            </setting>
        </ClientSupport.Properties.Settings>
        <CBViewModel.Properties.Settings>
            <setting name="Option_DisableFastDownload" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UpgradeSettings" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Option_RememberPassword" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Option_RememberMe" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LanguageOverride" serializeAs="String">
                <value>ru</value>
            </setting>
        </CBViewModel.Properties.Settings>
    </userSettings>
</configuration>