<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings">
            <section name="FORCServerSupport.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ClientSupport.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="CBViewModel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Launcher.Properties.Settings>
            <setting name="DXCheck" serializeAs="String">
                <value>True</value>
            </setting>
        </Launcher.Properties.Settings>
        <FORCServerSupport.Properties.Settings>
            <setting name="UpgradeSettings" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MachineToken" serializeAs="String">
                <value>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAQ7DmOVrX5k6MMI+IwfM6WQAAAAACAAAAAAAQZgAAAAEAACAAAAALVnYjkynbyCCyTnTW8dvxySMczo0cegiKurj3fIWu1AAAAAAOgAAAAAIAACAAAABlqVwtgL9SgmUf79Be8IYdC0RVhGscqHKxswggY+Qn6zABAAAzb9qiEaPY7USLuGXGXmtRX7d47WECrbOwwe9HWBHlS5giYZYfyZTL5uC9bYAlZIV/a43BwcjKcnPzD3XqvUpt2nhU4/kJSR3VqRaWDudpU9UCMwrSN1Xy90kVQsZTEZ2gWRGw8LLPmFeyDH8Jn/0B8u7bhoRJ9pQuyW0bzbDtIQtmIec2PSOhFnH/kR4HGPKHUpaSQ71IfN+oB2OtkKzh79wk/8lriAPDMygbDDTCK0Qc5aA5UTDemV71ypaI2tMtfxSH9M5xSR2MpTS9TstjH4Ns3E3arn//XtJYEPsybSVR1yFLMNEjV14aPDEdHEHy57nf1cPySHBlqk3KvPvHsSdDnMin2c90SFLSbY1/7BVsPQ8CnF8NKyqpCEhevdH1R+tuknfo5GL2pdsLuMgnQAAAAIwhJM83UMiHF22fKuSzBjKjHfj+GpLbeuVc0+SASOUKWeFU7tlobycqRZHTkT70uXRw0/7JjvAK/ykjLRGCGfM=</value>
            </setting>
            <setting name="TokenVersion" serializeAs="String">
                <value>2</value>
            </setting>
        </FORCServerSupport.Properties.Settings>
        <ClientSupport.Properties.Settings>
            <setting name="UpgradeSettings" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HardwareSurveyPerformed" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value>dmytro.cheva@gmail.com</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAQ7DmOVrX5k6MMI+IwfM6WQAAAAACAAAAAAAQZgAAAAEAACAAAADT0VCA8hPRfH2zAW9gMjEfXnjxoYHc8IXfhdNrwD8AYAAAAAAOgAAAAAIAACAAAABQnKfSgRqM9PuT/h6TrLfheWxjDp4H1fwLRj+A146uriAAAAANRK0Mxd+TSlmyEJbWXmcx7+VnSUMj4toBqHh5qDA1EEAAAACWioZkZ7S8zajzCh+h1B9C8FCv4PU9ILfsIcpP0iLBSLcppukC5tm+3f9xGQD+IdcN0DLkLCAc0WwGK9WHRbcw</value>
            </setting>
        </ClientSupport.Properties.Settings>
        <CBViewModel.Properties.Settings>
            <setting name="UpgradeSettings" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Option_DisableFastDownload" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LanguageOverride" serializeAs="String">
                <value>ru</value>
            </setting>
        </CBViewModel.Properties.Settings>
    </userSettings>
</configuration>